.header {
    height: 110px;
    background-color: var(--blue-color);
    width: auto;
    margin-top: auto;
}

.header-text{
    color:var(--white-color);
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 10%;
}


body {
    background-color: var(--grey-color);
}

.slide {
    position: absolute;
    inset: 0;
    margin-left: 45%;
    height: 30%;
    margin-top: 2%;
    margin-bottom: 15%;
    width: 60%;
}

body::-webkit-scrollbar{
    display: none;
}

.carousel-control-prev {
    margin-right: 75%;
    margin-bottom:95%;
    position: absolute;
}
.carousel-control-next{
    margin-right: 15%;
    margin-bottom:95%;
    position: absolute;
}

.carousel-item {
  width: 75%;
  margin-left: 17%;
}

.row {
    margin-top: 36%;
    margin-left: 13%;
    width: 35%;
    height: 35%;
}

.btn-start{
    padding: 12px 55px;
    background-color: var(--blue-color);
    border-radius: var(--border-radius);
    border: none;
    color: var(--white-color);
    justify-content: center;
    margin-bottom: auto;
}

.btn{
    color: var(--white-color);
    font-size: x-large;
    border: none;
}