.login {
    background-color: var(--white-color);
}

input[type=password]{
    height: 40px;
    border: none;
    outline: none;
    border-radius: var(--border-radius);

}

.oubli-mdp {
    text-decoration: underline;
    font-weight: bold;
    margin-left: 65%;
}

.btn-modal {
    padding: 5px 15px;
    background-color: var(--blue-color);
    border-radius: var(--border-radius);
    border: none;
    color: var(--white-color);
    font-size: x-large;
    padding: 0px 50px;
    margin-bottom: 25px;
    align-items: center;
}

.btn-close{
    color: var(--white-color);
}

.modal-title{
    margin-left: auto;
    color: var(--white-color);
}


.modal-header{
    background-color: var(--blue-color);
}

.modal-body, .modal-footer {
    background-color: var(--grey-color);
}

.logo-modal {
    margin: auto;
    width: auto;
    height: 200px;
    border-radius: 50%;
    align-content: center;
}
