.login{
    height: 40px;
    border: 2px;
    outline: none;
    border-radius: var(--border-radius);

}
.oubli-mdp{
    text-decoration: underline;
    font-weight: bold;
    margin-left: 65%;
}

.btn-action {
    padding: 5px 15px;
    background-color: var(--blue-color);
    border-radius: var(--border-radius);
    border: none;
    color: var(--white-color);
    font-size: x-large;
    padding: 0px 50px;
    margin-bottom: 25px;
    margin-left: 25%;
}