
:root {
/* VARIABLES GLOBALE */
    --border-radius: 5px;

    /* Couleur */
    --white-color: #fff;
    --blue-color: #286791;
    --grey-color: #D9D9D9;

    --hover-btn-color: #193d55;
}


.logo-style {
    margin: auto;
    width: auto;
    height: 180px;
    border-radius: 50%;
}

.join-session-container {
    margin: 0% 20%;
    background-color: var(--grey-color);
    border-radius: var(--border-radius);
}

.join-session-header {
    background-color: var(--blue-color);
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    padding: 10px 0px;
    color: var(--white-color);
}

.btn-action {
    padding: 5px 15px;
    background-color: var(--blue-color);
    border-radius: var(--border-radius);
    border: none;
    color: var(--white-color);
    font-size: x-large;
    padding: 0px 50px;
    margin-bottom: 25px;
}

.btn-action:hover {
    background-color: var(--hover-btn-color);
}


input[type=text],input[type=number] {
    height: 40px;
    border: none;
    outline: none;
    border-radius: var(--border-radius);

}