

body::-webkit-scrollbar {
    display: none;
    background-color: var(--grey-color);
}

h1 {
    padding-top: 1%;
    padding-left: 45%;
}

#div1,
#div2,
#div3,
#div4,
#div5,
#div6,
#div7 {
    width: 122px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    margin:auto;
}

.instruction {
    margin-left: 1%;
}

.logo-style {
    margin: auto;
    width: auto;
    height: 80px;
    border-radius: 50%;
}

.top-band {
    background-color: var(--blue-color);
    color: var(--white-color);
    text-transform: uppercase;
}

.img-perso {
    width: auto;
    height: 180px;
}

.footer {
    background-color: var(--blue-color);
    display: block;
    border: none;
    padding: 0;
    margin: 0;
    height: 230px
}

.disability-zone {
    outline: none;
    border-radius: var(--border-radius);
    margin: 0 auto;
    background-color: white;
    border: none;
    align-self: center;
}

.disability-name {
    height: 30px;
    width: 100px;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    background-color: white;
    margin: 0 auto;
}

.btn-valider-jeu {
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    border: none;
    color: var(--back-color);
    font-size: x-large;
    margin-left: 48%;
    position: relative;
}

@media (max-width: 815px) and (min-width: 612px) {
    .btn-valider-jeu {
        font-size: medium;
    }

    .disability-name {
        font-size: small;
        height: 21px;
        width: 70px;
    }

    #div1.disability-zone,
    #div2.disability-zone,
    #div3.disability-zone,
    #div4.disability-zone,
    #div5.disability-zone,
    #div6.disability-zone,
    #div7.disability-zone {
        width: 85.4px;
        height: 35px;
    }
}


@media (max-width: 611px) {
    .btn-valider-jeu {
        font-size: x-small;
    }

    #div1.disability-zone,
    #div2.disability-zone,
    #div3.disability-zone,
    #div4.disability-zone,
    #div5.disability-zone,
    #div6.disability-zone,
    #div7.disability-zone {
        width: 73.2px;
        height: 30px;
    }

    .disability-name {
        font-size: small;
        height: 18px;
        width: 60px;
    }
}